spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    open-in-view: false

server:
  servlet:
    context-path: /api

oauth:
  google:
    client_id: ${GOOGLE_CLIENT_ID}
    client_secret: ${GOOGLE_CLIENT_SECRET}
    redirect_uri: ${GOOGLE_REDIRECT_URI}
  naver:
    client_id: ${NAVER_CLIENT_ID}
    client_secret: ${NAVER_CLIENT_SECRET}

jwt:
  secret: ${JWT_SECRET}
  accessExp: ${JWT_ACCESS_TOKEN_EXP}
  refreshExp: ${JWT_REFRESH_TOKEN_EXP}